Repository myenergymanager/myem-lib-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: pydoc, pylint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: 'myem_lib/pytest_fixtures.py'
repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.3.0
        hooks:
            -   id: trailing-whitespace
            -   id: end-of-file-fixer
            -   id: check-yaml
            -   id: check-added-large-files
            -   id: requirements-txt-fixer
            -   id: no-commit-to-branch
                args: ['--branch', 'master']

    -   repo: https://github.com/pre-commit/mirrors-isort
        rev: v5.10.1
        hooks:
            -   id: isort

    -   repo: https://github.com/psf/black
        rev: 22.12.0
        hooks:
            -   id: black
                language_version: python3
                args: ['-l 100']

    -   repo: local
        hooks:
            -   id: pydoc
                name: pydocstyle
                entry: pydocstyle
                language: system
                files: \.py$

    -   repo: local
        hooks:
            -   id: pylint
                name: pylint
                entry: pylint
                language: system
                files: \.py$
                exclude: (.*versions.*|.*_examples\.py$|setup.py|tests/*)
                args: ["--rcfile=.pylintrc"]

    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v0.991
        hooks:
            -   id: mypy
                verbose: true
                exclude: 'tests|alembic|setup.py'
                additional_dependencies:
                    - 'sqlalchemy==1.4.44'
                    - 'fastapi==0.88.0'
                    - 'sentry_sdk==1.5.2'
                    - 'pydantic==1.10.2'
                    - 'types-python-dateutil==2.8.19.4'
                args: [ --config-file, mypy.ini, --no-incremental]

    -   repo: local
        hooks:
            -   id: message-format
                name: message-format
                entry: .commands/pre-commit-msg-hook.sh
                language: script
                stages: [commit-msg]
                always_run: True

move engine options
  myem_lib/db_settings_mixins.py
  myem_lib/nameko_settings_mixins.py
Due: pydoc, pylint

add get public key and get private key
  myem_lib/pytest_fixtures.py
Due: none

remove jwt class
  myem_lib/fast_api_settings_mixins.py
  myem_lib/jwt_settings_mixins.py
Due: pydoc, pylint

correct validation errors
  myem_lib/utils.py
Due: pydoc, pylint

Update setup.py
  setup.py
Due: pydoc

correct imports
  myem_lib/pytest_fixtures.py
Due: none

get rpc validation exception out of fast api settings
  myem_lib/db_settings_mixins.py
  myem_lib/fast_api_settings_mixins.py
Due: pydoc, pylint

make backbone-rabbitmq uri optional
  myem_lib/nameko_settings_mixins.py
Due: pydoc, pylint

MYEM-222 #time 10m #comment add remote error exception
  myem_lib/fast_api_settings_mixins.py
Due: pydoc, pylint

MYEM-222 #time 10m #comment add remote error exception
  myem_lib/pytest_fixtures.py
Due: none

MYEM-222 #time 5m #comment add rpc remote validation exception
  myem_lib/fast_api_settings_mixins.py
Due: pydoc, pylint

MYEM-222 #time 10m #comment remove the any from decalrative base
  myem_lib/db_settings_mixins.py
Due: pydoc, pylint

MYEM-222 #time 10m #comment tiny corrections
  myem_lib/pytest_fixtures.py
Due: none

MYEM-222 #time 5m #comment remove rabbit config
  myem_lib/pytest_fixtures.py
Due: none

MYEM-222 #time 10m #comment get back config to it's real state after using it
  myem_lib/nameko_settings_mixins.py
Due: pydoc, pylint

SRE-21 #time 10m #comment Fixed fixture
  myem_lib/pytest_fixtures.py
Due: none

SRE-21 #time 10m #comment Changes to mypy.ini for testing
  mypy.ini
Due: none

correct the use of cluster rpc client
  myem_lib/nameko_settings_mixins.py
Due: pydoc, pylint

make serializer as pickle
  myem_lib/nameko_settings_mixins.py
Due: pydoc, pylint

by pass a bug of nameko
  myem_lib/nameko_settings_mixins.py
Due: pydoc, pylint

MYEM-4464 #time 5h #comment change pool_size and max_over flow values
  myem_lib/db_settings_mixins.py
Due: pydoc, pylint

MYEM-4464 #time 5m #comment update values of pool_size & max_overflow
  myem_lib/db_settings_mixins.py
Due: pydoc, pylint

MYEM-4464 #time 5m #comment update pool_size and max_overflow
  myem_lib/db_settings_mixins.py
Due: pydoc, pylint

Update db_settings_mixins.py
  myem_lib/db_settings_mixins.py
Due: pydoc, pylint

MYEM-4913 #time 1d 4h #comment add db sync to myem lib
  myem_lib/sync_handler.py
  mypy.ini
Due: pydoc, pylint

add mock for function typ
  myem_lib/pytest_fixtures.py
Due: none

remove psycopg2 from setup
  Pipfile.lock
  setup.py
Due: pydoc

MYEM-5197 #time 4h #comment create a depenedency provider to call other rabbitmq uris services
  myem_lib/nameko_settings_mixins.py
  myem_lib/pytest_fixtures.py
Due: pydoc, pylint

add a new fixture
  myem_lib/pytest_fixtures.py
Due: none

tiny corrections
  myem_lib/pytest_fixtures.py
Due: none

MYEM-5197 #time 5m #comment remove cluster stopping from worker teardown funciton
  myem_lib/nameko_settings_mixins.py
Due: pydoc, pylint

MYEM-5197 #time 1h #comment remove expiration time
  myem_lib/nameko_settings_mixins.py
Due: pydoc, pylint

trying some solutions
  myem_lib/nameko_settings_mixins.py
Due: pydoc, pylint

OPS-162 #time 1h #comment add recycle params to engine options
  myem_lib/db_settings_mixins.py
Due: pydoc, pylint

OPS-162 #time 1m #comment diable recycling
  myem_lib/db_settings_mixins.py
Due: pydoc, pylint
